@tailwind base;
@tailwind components;
@tailwind utilities;

.loading__squares {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

.loading__square {
  position: relative;
  width: 51px;
  height: 51px;

  background: #313131;
}

.loading__line1 {
  position: relative;
  width: 356px;
  height: 19px;

  /* left: 422px; */
  /* top: 1084px; */

  background: #313131;
}

.loading__line2 {
  position: relative;
  width: 271px;
  height: 19px;

  /* left: 839px; */
  /* top: 1084px; */

  background: #313131;
}

.loading__line3 {
  position: relative;
  width: 305px;
  height: 19px;

  /* left: 1165px; */
  /* top: 1084px; */

  background: #313131;
}

.window__author-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 34px;
  gap: 10px;
  position: absolute;

  width: 248px;
  height: 19vh;

  max-height: 19vh;

  overflow: scroll;

  left: 330px;
  top: 169px;

  background: #313131;
  border-radius: 12px;
}

.window__year-wrapper {
  display: flex;
  padding: 34px;
  gap: 14px;

  position: absolute;
  width: 387px;
  height: 88px;

  margin-top: 138px;
  margin-left: 91px;

  background: #313131;
  border-radius: 12px;
}

.window__genre-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px;
  gap: 10px;

  position: absolute;
  width: 248px;
  height: 19vh;

  max-height: 19vh;

  overflow: scroll;

  margin-left: 150px;
  margin-top: 626px;

  background: #313131;
  border-radius: 12px;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.6);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(1);
  /* transition: opacity 300ms, transform 300ms; */
}
