@tailwind base;
@tailwind components;
@tailwind utilities;

.window__author-wrapper {
  /* width: 237px;
  height: 251px;

  border: 1px solid white;

  margin-top: 405px;
  margin-left: 69px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1; */

  /* background-color: darkolivegreen; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 34px;
  gap: 10px;
  position: absolute;

  width: 248px;
  height: 312px;

  left: 330px;
  top: 169px;

  background: #313131;
  border-radius: 12px;
}

.window__year-wrapper {
  display: flex;
  padding: 34px;
  gap: 14px;

  position: absolute;
  width: 387px;
  height: 88px;

  margin-top: 138px;
  margin-left: 91px;

  background: #313131;
  border-radius: 12px;
}

.window__genre-wrapper {
  /* width: 238px;
  height: 234px;

  border: 1px solid white;

  margin-top: 607px;
  margin-left: 148px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px;
  gap: 10px;
  
  position: absolute;
  width: 248px;
  height: 305px;

  margin-left: 193px;
  margin-top: 690px;
  
  background: #313131;
  border-radius: 12px;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.6);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(1);
  /* transition: opacity 300ms, transform 300ms; */
}
